#cases {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  bottom: 75px;
  #bg {
    /*img {
      width: 100%;
      margin: 0 auto;
    }*/
    /*background-image: url("../../assets/images/cases_bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 920px;*/
    img {
      width: 100%;
    }
    .hover_bg {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
    }
  }
  .intro {
    color: #fff;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    position: relative;
    bottom: 230px;
    .title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    .word {
      font-size: 20px;
      line-height: 40px;
    }
  }
  .caseBox {
    width: 100%;
    margin-bottom: 70px;
    .title {
      color: #000;
      font-size: 36px;
      text-align: center;
      text-align: -moz-center;
      text-align: -webkit-center;
    }
    .row {
      width: 96%;
      height: 400px;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      .box {
        width: 33%;
        max-width: 500px;
        margin: 5px;
        background-size: cover;
        .hover {
          width: 100%;
          max-width: 500px;
          height: 100%;
          background-color: rgba(0,0,0,0.2);
          transition: background-color 1s;
          .word {
            color: #fff;
            font-size: 24px;
            letter-spacing: 2px;
            position: relative;
            left: 40%;
            top: 190px;
            transition: top 1s;
          }
        }
        .hover:hover {
          background-color: rgba(0,0,0,0.6);
          .word {
            position: relative;
            top: 160px;
          }
        }
      }
      .case1 {
        background-image: url("../../assets/images/cases_1.jpg");
      }
      .case2 {
        background-image: url("../../assets/images/cases_2.jpg");
      }
      .case3 {
        background-image: url("../../assets/images/cases_3.jpg");
      }
      .case4 {
        background-image: url("../../assets/images/cases_4.jpg");
      }
      .case5 {
        background-image: url("../../assets/images/cases_5.jpg");
      }
      .case6 {
        background-image: url("../../assets/images/cases_6.jpg");
      }
    }
    .rowFirst {
      margin-top: 30px;
    }
  }
}
