#index {
  /*width: 100%;  //页面布局
  mid-width: 1702px;  //页面布局*/
  width: 100%;
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
  #topBar {
    /*width: 1702px;  //页面布局
    mid-width: 100%;  //页面布局*/
    height: 120px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    .logoImg {
      /*width: 25%;*/
      flex: 2 1 auto;  //flex设置项目的宽度和放缩情况
      text-align: right;
      text-align: -moz-right;
      text-align: -webkit-right;
      .logo {
        height: 80px;
      }
    }
    #nav {
      /*width: 50%;*/
      flex: 4 0 auto;  //flex设置项目的宽度和放缩情况
      /*max-width: 500px;*/
      display: flex;
      justify-content: center;
      .navItem {
        width: 25%;
        height: 120px;  //同topBar
        /*margin: 0 1px;*/
        font-size: 20px;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        line-height: 120px;
      }
      a {
        color: #fff;
      }
      /*.navItem:hover {
        border: 1px #fff solid;
      }*/
    }
    #switchBtn {
      /*width: 25%;*/
      flex: 2 1 60px;  //flex设置项目的宽度和放缩情况
      font-size: 14px;
      text-align: center;
      text-align: -moz-center;
      text-align: -webkit-center;
    }
  }
  .content {
    /*width: 1702px;  //页面布局，固定宽度
    mid-width: 100%;  //页面布局*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  #footer {
   /* width: 1702px;  //页面布局
    mid-width: 100%;  //页面布局*/
    height: 310px;
    background-color: #2B2C30;
    padding-top: 50px;
    .footerContent {
      display: flex;
      justify-content: center;
      .logoImg {
        margin: -18px 50px 0 50px;
        .logo {
          height: 80px;
        }
      }
      .footerList {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        p,a {
          color: #fff;
          line-height: 22px;
          margin-bottom: 20px;
        }
        .title {
          font-size: 19px;
          font-weight: 700;
        }
        a {
          font-weight: 100;
        }
      }
    }
    .copy {
      height: 50px;
      background-color: #2B2C30;
      padding-bottom: 5px;
      .line {
        width: 50%;
        height: 1px;
        border-top: 1px rgba(255,255,255,0.4) solid;
        margin: 40px auto 0 auto;
      }
      .copyContent {
        display: flex;
        justify-content: center;
        align-items: center;
        .logoImg {
          margin-right: 20px;
          .logo {
            height: 40px;
          }
        }
        .copyRight {
          color: rgba(255,255,255,0.5);
        }
      }

      /*width: 50%;
      height: 50px;
      background-color: red;
      border-top: 1px rgba(255,255,255,0.4) solid;
      margin-left: 25%;
      margin-top: 100px;
      text-align: center;
      text-align: -moz-center;
      text-align: -webkit-center;
      display: flex;
      justify-content: center;
      align-items: center;
      .logoImg {
        margin-right: 20px;
        .logo {
          height: 40px;
        }
      }
      .copyRight {
        color: rgba(255,255,255,0.5);
      }*/
    }
  }
}


