#C9pro, #C9, #A9, #mapping {
  width: 100%;
  height: 100%;
  .intro_C9pro, .detail1, .detail2, .detail3, .detail4, .detail5,
  .intro_C9, .detail7, .detail8, .detail9, .detail10,
  .intro_A9, .detail12, .detail13, .detail14,
  .intro_mapping, .detail16, .detail17, .detail18, .detail19{
    height: 1000px;
    max-height: 1800px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;  //背景图片的设置
    .title0, .title1, .title2, .title3, .title4, .title5,
    .title6, .title7, .title8, .title9, .title10,
    .title11, .title12, .title13, .title14,
    .title15, .title16, .title17, .title18, .title19 {
      font-size: 33px;
      line-height: 33px;
      margin-bottom: 36px;
    }
    .word0, .word1, .word2, .word3, .word4, .word5,
    .word6, .word7, .word8, .word9, .word10,
    .word11, .word12, .word13, .word14,
    .word15, .word16, .word17, .word18, .word19 {
      width: 35%;
      line-height: 36px;
    }
  }
  .detail0, .detail1, .detail2, .detail3, .detail4, .detail5,
  .detail6, .detail7, .detail8, .detail9, .detail10,
  .detail11, .detail12, .detail13, .detail14,
  .detail15, .detail16, .detail17, .detail18, .detail19 {
    border-bottom: 1px rgba(255,255,255,0.7) solid;
  }
  .intro_C9pro {
    background-image: url("../../assets/images/C9_1.jpg");  //背景图
    background-attachment: fixed;
    /*img {
      width: 100%;
      position: fixed;
    }*/
    /*.title0, .word0 {
      padding-left: 10%;
      position: relative;
      top: 250px;
    }*/
  }
  .intro_C9 {
    background-image: url("../../assets/images/C9_1.jpg");  //背景图
    background-attachment: fixed;
    /*.title6, .word6 {
      padding-left: 10%;
      position: relative;
      top: 250px;
    }*/
  }
  .intro_A9 {
    background-image: url("../../assets/images/A9_intro.jpg");  //背景图
    background-attachment: fixed;
    /*.title6, .word6 {
      padding-left: 10%;
      position: relative;
      top: 250px;
    }*/
  }
  .intro_mapping {
    background-image: url("../../assets/images/A9_intro.jpg");  //背景图
    background-attachment: fixed;
    /*.title6, .word6 {
      padding-left: 10%;
      position: relative;
      top: 250px;
    }*/
  }
  .detail1 {
    background-image: url("../../assets/images/C9_2.jpg");  //背景图
    /*.title1, .word1 {
      padding-left: 30%;
      position: relative;
      top: 200px;
    }*/
  }
  .detail2 {
    background-image: url("../../assets/images/C9_3.jpg");  //背景图
    .title2, .word2 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }

  }
  .detail3 {
    background-image: url("../../assets/images/C9_1.jpg"); //背景图
    .title3, .word3 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail4 {
    background-image: url("../../assets/images/C9_2.jpg"); //背景图
    .title4, .word4 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail5 {
    background-image: url("../../assets/images/C9_3.jpg"); //背景图
    .title5, .word5 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail7 {
    background-image: url("../../assets/images/C9_3.jpg"); //背景图
    .title7, .word7 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail8 {
    background-image: url("../../assets/images/C9_3.jpg"); //背景图
    .title8, .word8 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail9 {
    background-image: url("../../assets/images/C9_3.jpg"); //背景图
    .title9, .word9 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail10 {
    background-image: url("../../assets/images/A9_1.jpg"); //背景图
    .title10, .word10 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail12 {
    background-image: url("../../assets/images/A9_2.jpg"); //背景图
    .title12, .word12 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail13 {
    background-image: url("../../assets/images/A9_1.jpg"); //背景图
    .title13, .word13 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail14 {
    background-image: url("../../assets/images/A9_2.jpg"); //背景图
    .title14, .word14 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail16 {
    background-image: url("../../assets/images/mapping1.jpg"); //背景图
    .title16, .word16 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail17 {
    background-image: url("../../assets/images/mapping2.jpg"); //背景图
    .title17, .word17 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail18 {
    background-image: url("../../assets/images/mapping3.jpg"); //背景图
    .title18, .word18 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .detail19 {
    background-image: url("../../assets/images/mapping4.jpg"); //背景图
    .title19, .word19 {
      /*padding-left: 50%;
      position: relative;
      top: 200px;*/
    }
  }
  .btn {
    width: 200px;
    height: 70px;
    line-height: 70px;
    margin: 100px auto;
    background-color: #000;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    a {
      color: #fff;
      font-size: 22px;
    }
  }
}
